@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Tite = "Comic Book Detail.";
}

<div>
    <h1>@ViewBag.SeriesTitle</h1>
    <h2>Issue #@ViewBag.IssueNum</h2>

    <h4>@Html.Raw(ViewBag.Description)</h4>
    @if (ViewBag.Artists.Length>0)
    {
        <h5>Artists:</h5>
        <div>
            <ul>
                @foreach (string artist in ViewBag.Artists)
                {
                    <li><text>@artist</text></li>
                }
            </ul>
        </div>
    }            
</div>